! Generated EIGRP **Named Mode** config for {{ hostname }} from YAML
hostname {{ hostname }}

! Physical Interfaces
{% for intf_name, intf in interfaces.items() %}
{%- if intf_name != oob_interface %}
interface {{ intf_name }}
{%- if intf.description and intf.description.strip() %}
 description {{ intf.description.strip() }}
{%- endif %}
{%- if intf.ip and intf.ip != "" and '/' in intf.ip %}
 ip address {{ intf.ip.split('/')[0] }} {{ intf.ip.split('/')[1] | cidr_to_netmask }}
{%- endif %}
{%- if intf.speed and intf.speed != "" %}
 speed {{ intf.speed }}
{%- endif %}
{%- if intf.duplex and intf.duplex != "" %}
 duplex {{ intf.duplex }}
{%- endif %}
{%- if intf.mtu and intf.mtu != "" %}
 mtu {{ intf.mtu }}
{%- endif %}
{%- if intf.bandwidth and intf.bandwidth != "" %}
 bandwidth {{ intf.bandwidth }}
{%- endif %}
{%- if intf.delay and intf.delay != "" %}
 delay {{ intf.delay }}
{%- endif %}
{%- if intf.shutdown | default(true) %}
 shutdown
{%- else %}
 no shutdown
{%- endif %}
!
{%- endif %}
{%- endfor %}

! Loopback Interfaces
{% for lb_name, lb in loopbacks.items() | default({}) %}
interface {{ lb_name }}
{% if lb.description and lb.description.strip() %}
 description {{ lb.description.strip() }}
{% endif %}
{% if lb.ip and lb.ip != "" %}
 ip address {{ lb.ip.split('/')[0] }} {{ lb.ip.split('/')[1] | cidr_to_netmask }}
{% endif %}
{% if lb.shutdown | default(false) %}
 shutdown
{% else %}
 no shutdown
{% endif %}
!
{% endfor %}

! DEBUG: Key chains for this router: {{ eigrp.key_chains | default([]) | length }}
! DEBUG: Raw key_chains data: {{ eigrp.key_chains | default('NONE') }}

! Key Chains (global - used by EIGRP authentication)
{% for chain in eigrp.key_chains | default([]) -%}
! DEBUG: Rendering chain name: {{ chain.name }}
key chain {{ chain.name }}
{%- for key in chain['keys'] | default([]) %}
 key {{ key.id }}
  key-string {{ key.string }}
{%- endfor %}
!
{%- endfor %}

! EIGRP Named Mode Process
router eigrp {{ eigrp.name | default('EIGRP-LAB') }}
 address-family ipv4 unicast autonomous-system {{ eigrp.address_family.ipv4.as | default(eigrp.as) }}

{%- if eigrp.address_family.ipv4.unicast | default(false) %}
  unicast
{%- endif %}

{%- for net in eigrp.address_family.ipv4.networks | default([]) %}
  network {{ net.network }} {{ net.wildcard }}
{%- endfor %}

{%- if eigrp.address_family.ipv4.passive_default | default(false) %}
  af-interface default
   passive-interface
  exit-af-interface
{%- endif %}

{%- for no_passive in eigrp.address_family.ipv4.no_passive_interfaces | default([]) %}
  af-interface {{ no_passive }}
   no passive-interface
  exit-af-interface
{%- endfor %}

{%- for passive in eigrp.address_family.ipv4.passive_interfaces | default([]) %}
  af-interface {{ passive }}
   passive-interface
  exit-af-interface
{%- endfor %}

{%- for neigh in eigrp.address_family.ipv4.static_neighbors | default([]) %}
  neighbor {{ neigh.ip }} {{ neigh.interface }}
{%- endfor %}

{%- if eigrp.address_family.ipv4.variance is defined and eigrp.address_family.ipv4.variance > 1 %}
  variance {{ eigrp.address_family.ipv4.variance }}
{%- endif %}

{%- if eigrp.address_family.ipv4.auto_summary | default(false) %}
  auto-summary
{%- elif eigrp.address_family.ipv4.auto_summary == false %}
  no auto-summary
{%- endif %}

! Per-interface Authentication (inside address-family)
{%- if eigrp.address_family.ipv4.authentication is mapping %}
  af-interface {{ eigrp.address_family.ipv4.authentication.interface }}
   authentication mode {{ eigrp.address_family.ipv4.authentication.mode }}
   authentication key-chain {{ eigrp.address_family.ipv4.authentication.key_chain }}
  exit-af-interface
!
{%- elif eigrp.address_family.ipv4.authentication is sequence %}
{%- for auth in eigrp.address_family.ipv4.authentication %}
  af-interface {{ auth.interface }}
   authentication mode {{ auth.mode }}
   authentication key-chain {{ auth.key_chain }}
  exit-af-interface
!
{%- endfor %}
{%- endif %}

! EIGRP Summarization (inside address-family)
{%- for sum in eigrp.address_family.ipv4.summaries | default([]) %}
  af-interface {{ sum.interface }}
   summary-address {{ sum.prefix }} {{ sum.mask }}
  exit-af-interface
!
{%- endfor %}

 exit-address-family
!